@model GalleryCafe.Models.Reservation

<div class="container mt-2">
    <h1 class="text-center">Make a Reservation</h1>

    @using (Html.BeginForm())
    {
        <div class="d-flex flex-column max-w-md mx-auto" style="max-width: 50vw;">
            <div class="form-group">
                <label for="CustomerName">Name</label>
                <input type="text" class="form-control" id="CustomerName" asp-for="CustomerName" required />
            </div>

            <div class="form-group">
                <label for="CustomerEmail">Email</label>
                <input type="email" class="form-control" id="CustomerEmail" asp-for="CustomerEmail" required />
            </div>

            <div class="form-group">
                <label for="NumberOfGuests">Number of Guests</label>
                <input type="number" class="form-control" id="NumberOfGuests" asp-for="NumberOfGuests" min="1" required />
            </div>

            <div class="form-group">
                <label for="Date">Date</label>
                <input type="date" class="form-control" id="Date" asp-for="Date" required />
            </div>

            <div class="form-group">
                <label for="Time">Time</label>
                <input type="time" class="form-control" id="Time" asp-for="Time" required />
            </div>

            <div class="form-group mb-3">
                <label for="TableId">Select a Table</label>
                <select class="form-control" id="TableId" asp-for="TableId"
                    asp-items="@(new SelectList(ViewBag.Tables, "Id", "DisplayText"))" required>
                    <option value="">Select a table</option>
                </select>
            </div>

            <div class="form-group mb-4">
                <label for="ParkingSpotId">Select a Parking Spot (optional)</label>
                <select class="form-control" id="ParkingSpotId" asp-for="ParkingSpotId"
                    asp-items="@(new SelectList(ViewBag.ParkingSpots, "Id", "DisplayText"))">
                    <option value="">No Parking Spot Needed</option>
                </select>
            </div>

            <button type="submit" class="btn btn-primary">Reserve</button>
        </div>
    }
</div>